<div class="play-container">
  <div class="clearfix"></div>
  <div class="play-summary">
    <button (click)="loadMainComponent('home')" class="summary-button-left"> <i class="fa fa-home"></i> Home</button>
    <button (click)="loadMainComponent('playlist')" class="summary-button-left"> <i class="fa fa-list"></i> Playlists</button>
    <button (click)="loadMainComponent('albums')" class="summary-button-left"> <i class="fa fa-shopping-basket"></i> Albums</button>
    <button (click)="loadMainComponent('offline')" class="summary-button-left"> <i class="fa fa-download"></i> Offline</button>
    <button (click)="loadMainComponent('upload')" class="summary-button-left"> <i class="fa fa-download"></i> Upload songs</button>
  </div>
  <ng-template ad-host></ng-template>
</div>