<div class="row">
    <div class="col">
        <label for="formGroupExampleInput">Song title</label>
        <input type="text" [(ngModel)]="formTitle" class="form-control" placeholder="Awesome song title here">
    </div>
    <div class="col">
        <label for="formGroupExampleInput">Artist</label>
        <input type="text" (keyup)=keyupFindArtist() [(ngModel)]="formArtist" class="form-control" placeholder="Last name">
    </div>
    <button *ngFor="let artist of relatedArtists" type="button" class="btn btn-primary">{{artist}}</button>
</div>
<input type="file" name="formTorrent" (change)="fileChange($event)">