.header-cust {
    background-color: #505061;
    color: #fff;
}

.cust-nav-item-login {
    float: right;
    margin-right: 10px;
}

.cust-nav-item-signup {
    float: right;
    border-radius: 3px;
    border: 1px solid #fff;
}